{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Update'| trans ~ ' "' ~ brandTransfer.getName() | e ~ '" ' ~ 'Brand'| trans %}

{% block head_title widget_title | trans %}

{% block action %}
    {{ backActionButton('/brand-gui/brand', 'Brands' | trans) }}
    {{ createActionButton('/brand-gui/brand/create', 'Create Brand' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Brand' | trans }}</div>
                <div class="panel-body">
                    {{ form_start(brandForm) }}
                    {{ form_widget(brandForm) }}
                    <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}"/>
                    {{ form_end(brandForm) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}